<div>
    <h1>Hola {{name}},  bienvennid@ </h1>
</div>
<input type="text" id="textInput">
<div id="mensajesDiv">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js" ></script>
